venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

# Logs
svelte/logs
svelte/*.log
svelte/npm-debug.log*
svelte/yarn-debug.log*
svelte/yarn-error.log*
svelte/pnpm-debug.log*
svelte/lerna-debug.log*

svelte/node_modules
svelte/dist
svelte/dist-ssr
svelte/*.local

# Editor directories and files
svelte/.vscode/*
svelte/!.vscode/extensions.json
svelte/.idea
svelte/.DS_Store
svelte/*.suo
svelte/*.ntvs*
svelte/*.njsproj
svelte/*.sln
svelte/*.sw?