<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About page | Test</title>
    
    <script type="module" crossorigin src="{{ url_for('static', filename='intro/js/about-19617ff8.js') }}"></script>
    <link rel="modulepreload" href="{{ url_for('static', filename='shared/js/index-8246eca6.js') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='intro/css/about-0d7ed5fc.css') }}">
  </head>

  <body></body>
  <main>CONTENT!</main>

</html>